body, html
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #1a1a1a;
  background: #f6f6f6;

.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden

//    //不同分辨率手机不同处理
//@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5)
//  .border-1px
//    &::after
//      -webkit-transform: scaleY(0.7)
//      transform: scaleY(0.7)
//
//@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2)
//  .border-1px
//    &::after
//      -webkit-transform: scaleY(0.5)
//      transform: scaleY(0.5)

